@model GeekCoding.MainApplication.Pagination.PaginatedList<GeekCoding.Data.Models.Submision>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

</head>
<body>
    <table class="table table-hover" style="margin-top:50px;">
        <thead>

            <tr>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            UserName
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Problema
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Data
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            State of submission
                        </font>
                    </font>
                </th>
                <th>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Score
                        </font>
                    </font>
                </th>
            </tr>
        </thead>
        <tbody class="reactable-data">
            @foreach (var item in Model)
            {

                <tr id="@item.SubmisionId">
                    <th scope="row">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                @item.UserName
                            </font>
                        </font>
                    </th>
                    <td>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                @item.Problem?.ProblemName
                            </font>
                        </font>
                    </td>
                    <td>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                @item.DataOfSubmision
                            </font>
                        </font>
                    </td>
                    <td id="stateSubmission">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                @item.StateOfSubmision
                            </font>
                        </font>
                    </td>
                    <td id="score">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                @item.Score
                            </font>
                        </font>
                    </td>
                    <td>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                <a asp-action="Details" asp-route-id="@item.SubmisionId">Details</a>
                            </font>
                        </font>
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    <a asp-action="Delete" asp-route-id="@item.SubmisionId">Delete</a>
                                </font>
                            </font>
                        </td>

                    }
                </tr>


            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</body>
</html>

@section Scripts {
    <script src="/lib/signalr/signalr.js"></script>

    <script type="text/javascript">


        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/submission")
            .configureLogging(signalR.LogLevel.Information)
            .build();


        connection.on("SubmissionMessage", (message, subbmisionId) => {
            //update column state of submission with the message
            console.log(subbmisionId);
            var submisionToUpdate = document.getElementById(subbmisionId.toString());
            submisionToUpdate.cells[3].innerText = message.toString();
            //submisionToUpdate.cells[3].style.backgroundColor = '#ccc';
            console.log(message);
        });

        connection.on("ExecutionMessage", (message, submissionId, score) => {
            //update score column with the message
            var submisionToUpdate = document.getElementById(submissionId.toString());
            submisionToUpdate.cells[3].innerText = message.toString();
            submisionToUpdate.cells[4].innerText = score.toString();
            console.log(score);
        });


        connection.start().catch(err => console.error(err.toString()));

    </script>
}