@model GeekCoding.Data.Models.Problem

<div class="container">
    <h2>@Model.ProblemName</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
        <li><a data-toggle="tab" id="submissie" href="#submissions">Submissions</a></li>
        <li><a data-toggle="tab" id="sol" href="#solutions">Solution</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <p>@Model.ProblemName</p>
        </div>
        <div id="submissions" class="tab-pane fade">
            @*<script>
                    var id = '@Model.ProblemId';
                    var confirmUrl = '@Html.Raw(@Url.Action("Submissions", "Problems"))';
            </script>*@
            @*@await Html.PartialAsync("Submissions")*@
        </div>
        <div id="solutions" class="tab-pane fade">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section script_variables{
    <script type="text/javascript">
    var id = '@Model.ProblemId';
    var confirmUrl = '@Html.Raw(@Url.Action("Submissions", "Problems"))';
    </script>

}

