@model GeekCoding.MainApplication.Pagination.PaginatedList<GeekCoding.Data.Models.Problem>

@if (User.IsInRole("Admin"))
{
    <li><a asp-area="" asp-controller="Problems" asp-action="Add">Create Problem</a></li>
}


<table class="table table-hover" style="margin-top:50px;">
    <thead>

        <tr>
            <th>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        ProblemName
                    </font>
                </font>
            </th>
            <th>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Dificulty
                    </font>
                </font>
            </th>
            <th>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        AverageAcceptance
                    </font>
                </font>
            </th>

        </tr>
    </thead>
    <tbody class="reactable-data">
        @foreach (var item in Model)
        {

            <tr>
                <th scope="row">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <a asp-action="GetProblem" asp-route-id="@item.ProblemId">  @item.ProblemName  </a>
                        </font>
                    </font>
                </th>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <span class="label label-info"> @item.Dificulty </span>
                        </font>
                    </font>
                </td>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            @item.AverageAcceptance
                        </font>
                    </font>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                <a asp-action="Edit" asp-route-id="@item.ProblemId">Edit</a>
                            </font>
                        </font>
                    </td>

                }
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <a asp-action="GetProblem" asp-route-id="@item.ProblemId">Rezolva</a>
                        </font>
                    </font>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                <a asp-action="Delete" asp-route-id="@item.ProblemId">Delete</a>
                            </font>
                        </font>
                    </td>

                }
            </tr>


        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

@*<div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="well well-sm">
                <h4>Salut</h4>
            </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Prob 1
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Enunt tare</p>
                </div>
                <div class="panel-body">
                    <div class="panel-bottom right">
                        <a href="" class="btn btn-primary">Solve</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@