@model Tuple<List<GeekCoding.Data.Models.Announcement>, Guid>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

</head>
<body>
    @if (User.IsInRole("Admin"))
    {
        <div class="row" style="margin-top:25px;">
            <div class="col-md-1" style="margin-right:20px">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <a class="btn btn-info" asp-controller="Contest" asp-action="AddAnnouncement" asp-route-id="@Model.Item2">Create Announcement</a>
                    </font>
                </font>
            </div>
        </div>
    }
    <div class="row" style="margin-top:25px;">
        @foreach (var item in Model.Item1)
        {
            <div class="col-md-10 style=" margin-right:20px"">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <h5 class="pull-right">@item.DateAdded</h5>
                        </h3>
                    </div>
                    <div class="panel-body">
                        @item.AnnouncementContent
                    </div>
                </div>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-1">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <a class="btn btn-warning" asp-controller="Contest" asp-action="EditAnnouncement" asp-route-id="@item.AnnouncementId">Edit</a>
                        </font>
                    </font>
                </div>
                <div class="col-md-1">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <a class="btn btn-danger" asp-controller="Contest" asp-action="DeleteAnnouncement" asp-route-id="@item.AnnouncementId" asp-route-contest="@item.ContestId">Delete</a>
                        </font>
                    </font>
                </div>
            }
        }

    </div>
   
</body>
</html>

<div>
    <a asp-action="Details" asp-route-id="@Model.Item2"> <i class="glyphicon glyphicon-arrow-left"></i> &nbsp; Back to contest</a>
</div>



