@model GeekCoding.MainApplication.ViewModels.UserContestViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row" style="margin-top:50px;">

    <div class="col-lg-8 col-md-8">
        <div class="well well-sm">
            <h4>@Model.Contest.Title</h4>
            <hr />
            @Html.Raw(@Model.Contest.Content)
            @if (User.Identity.IsAuthenticated)
            {
                @if (DateTime.Now < Model.Contest.StartDate)
                {
                    @if (Model.UserRegistered == false)
                    {
                        <div class="panel-heading">
                            <form method="post" asp-action="RegisterUser">
                                <div class="form-group">
                                    <input type="submit" value="Register" class="btn-primary pull-right" />
                                </div>
                                <input type="hidden" asp-for="@Model.Contest.ContestId" />
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="panel-heading">
                            <form method="post" asp-action="UnRegisterUser">
                                <div class="form-group">
                                    <input type="submit" value="UnRegister" class="btn-primary pull-right" />
                                </div>
                                <input type="hidden" asp-for="@Model.Contest.ContestId" />
                            </form>
                        </div>
                    }
                }

            }
            <table class="table table-hover" style="margin-top:50px;">
                <thead>

                    <tr>
                        <th>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    StartDate
                                </font>
                            </font>
                        </th>
                        <th>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    EndDate
                                </font>
                            </font>
                        </th>
                    </tr>
                </thead>
                <tbody class="reactable-data">
                    <tr>
                        <td>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    <span class="label label-info"> @Model.Contest.StartDate </span>
                                </font>
                            </font>
                        </td>
                        <td>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    <span class="label label-info">  @Model.Contest.EndDate </span>
                                </font>
                            </font>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="well well-sm">
            <ul class="list-group list-group-flush">
                &nbsp; &nbsp;
                <a asp-action="Overview" asp-route-id="@Model.Contest.ContestId">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-home">
                        </span>
                        Overview
                    </li>
                </a>
                <a asp-action="Announcement" asp-route-id="@Model.Contest.ContestId">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope">
                        </span>
                        Announcement
                    </li>
                </a>
                <a asp-action="UsersOverview" asp-route-id="@Model.Contest.ContestId">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-file">
                        </span>
                        Users registered
                    </li>
                </a>
                <a asp-action="ProblemsOverview" asp-route-id="@Model.Contest.ContestId">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-file">
                        </span>
                        Problems
                    </li>
                </a>
                <a asp-action="SubmisionOverview" asp-route-id="@Model.Contest.ContestId">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-tasks">
                        </span>
                        Submissions
                    </li>
                </a>
                @if (DateTime.Now > Model.Contest.StartDate)
                {
                    <a asp-action="Ranking" asp-route-id="@Model.Contest.ContestId">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-time">
                            </span>
                            Ranking
                        </li>
                    </a>
                }
            </ul>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index"> <i class="glyphicon glyphicon-arrow-left"></i> &nbsp; Back to List</a>
</div>
