@model IEnumerable<GeekCoding.Data.Models.Contest>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    @if (User.IsInRole("Admin"))
    {

        <div class="row" style="margin-top:25px;">
            <div class="col-md-1">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        <a class="btn btn-info" asp-controller="Contest" asp-action="Add">Create Contest</a>
                    </font>
                </font>
            </div>
        </div>

    }
    @foreach (var item in Model)
    {
        <div class="row" style="margin-top:50px;">
            <a asp-action="Details" asp-route-id="@item.ContestId">
                <div class="col-md-9">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <h3 class="panel-body">
                                <img src="~/images/trophy.jpg" /> @item.Title
                                <p class="pull-right">@item.StatusContest</p>
                            </h3>
                            <h5 class="panel-body">
                                <ul class="list-unstyled list-inline">
                                    &nbsp; &nbsp;
                                    <li>
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                        @item.StartDate
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-time">
                                        </span>
                                        @{
                                            if (item.Duration >= 24)
                                            {
                                                double d = item.Duration / 24;
                                                string response = d + " days";
                                                @response
                                            }
                                            else
                                            {
                                                string response = item.Duration + " hours";
                                                @response
                                            }
                                        }
                                    </li>
                                </ul>
                            </h5>
                        </div>
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-1">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                <a class="btn btn-warning" asp-controller="Contest" asp-action="Edit" asp-route-id="@item.ContestId">Edit</a>
                            </font>
                        </font>
                    </div>
                    <div class="col-md-1">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                <a class="btn btn-danger" asp-controller="Contest" asp-action="Delete" asp-route-id="@item.ContestId">Delete</a>
                            </font>
                        </font>
                    </div>
                    <div class="col-md-1">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                <a class="btn btn-primary" asp-controller="Contest" asp-action="AddProblems" asp-route-id="@item.ContestId">Add problems</a>
                            </font>
                        </font>
                    </div>
                }
                </a>
        </div>
        <hr />
    }
</body>
</html>
