@model GeekCoding.MainApplication.ViewModels.ProblemsOverviewViewModel

<table class="table table-hover" style="margin-top:50px;">
    <thead>

        <tr>
            <th>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        ProblemName
                    </font>
                </font>
            </th>
            <th>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Dificulty
                    </font>
                </font>
            </th>

        </tr>
    </thead>
    <tbody class="reactable-data">
        @foreach (var item in Model.ContestProblemList)
        {

            <tr>
                <th scope="row">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <a asp-action="ProblemContestOverview" asp-route-id="@item.ProblemId" asp-route-contest="@Model.ContestId">  @item.ProblemName  </a>
                        </font>
                    </font>
                </th>
                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <span class="label label-info"> @item.Dificulty </span>
                        </font>
                    </font>
                </td>

                <td>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            <a class="btn btn-success" asp-action="GetProblem" asp-route-id="@item.ProblemId" asp-route-contest="@Model.ContestId">Rezolva</a>
                        </font>
                    </font>
                </td>
            </tr>
        }
    </tbody>
</table>