@model GeekCoding.MainApplication.Pagination.PaginatedList<GeekCoding.Data.Models.Solution>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

</head>
<body>
    <div row style="margin-top:50px;">

    <table class="table table-hover" style="margin-top:50px;">
        @foreach (var item in Model)
        {
            <div class="row">
                <a asp-action="Details" asp-route-id="@item.SolutionId">
                    <div class="col-md-10 col-md-push-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    @item.Name
                                    <p class="pull-right">@item.DateAdded</p>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="well well-sm">
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <span class="label label-default">
                                                <span class="glyphicon glyphicon-user">
                                                </span>
                                                by @item.Author
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }

    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>

</body>
</html>